<div class="player-card">
  <div class="card-header space-between">
    <span class="player-name">{{player.name ? player.name : 'Player name'}}</span>
    <div>
      <span *ngFor="let number of getShotsLeft() | range" class="dot"></span>
    </div>
  </div>

  <div class="card-content">
    <div>
      <span>Remaining points: </span> <span>{{player.remainingPoints}}</span>
    </div>

    <div class="shot-history">
      <p>Shot history: </p>
      <ul #shotHistoryList class="shot-history-list">
        <li *ngFor="let turn of player.turns; index as i">
          <span>{{i+1}}: </span>
          <span>
            <strong>{{turn.totalScore}}</strong>
            (
            <span *ngFor="let dartThrow of turn.throws; last as isLast">
              {{dartThrow.scoreText}} <span *ngIf="!isLast"> - </span>
            </span>
            )
          </span>
        </li>
      </ul>
    </div>

    <div *ngIf="player.remainingPoints <= 170 && player.remainingPoints != 0 && getThrowOuts()">
      <span>Possible throwout: </span>
      <ul>
        <li *ngFor="let throwOut of getThrowOuts()">
          <span>{{throwOut}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
