@import 'src/styles.scss';

$card-header-background: #D8D8DB;

.player-card{
  background-color: rgba($primary-color, .7);
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;

  .card-header{
    padding: 10px 30px;
    font-size: 25px;
    height: 30px;

    text-align: center;

    background-color: rgba($primary-color, .5);
    border-bottom: 1px solid black;

    .player-name{
      overflow: hidden;
      max-width: 60%;
    }
  }

  .card-content{
    height: calc(100% - 30px - 20px - 20px - 1px);
    padding: 10px 30px;
    line-height: 50px;

    font-size: 20px;
    font-weight: 500;

    overflow-y: auto;

    .shot-history{
      word-wrap: break-word;
      height: 40%;

      .shot-history-list{
        height: 70%;
        overflow-y: auto;
      }

    }
  }

}


