@import 'src/styles.scss';

.spread{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;

  background-image: url("../../assets/images/darts_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.calculator-input{
  width: 40%;
  height: calc(100% - 60px);
  margin: 20px;
  padding: 10px;
  overflow-y: auto;
}

.calculator-input-header {
  margin-bottom: 10px;
  height: 10%;
  text-align: center;

  span.turn-identifier{
    font-size: 40px;
    font-weight: 400;

    color: whitesmoke;
  }
}

.calculator-input-content{
  height: 80%;
  padding: 10px 30px 10px 30px;

  .multiplier-buttons-area{
    @extend .space-between;

    .multiplier-button {
      height: 10vh;
      width: 45%;
      font-weight: bold;
    }
  }

  .point-buttons-area{
    @extend .space-between;

    .point-buttons{
      width: 18%;
      height: 10vh;

      &-even{
        @extend .point-buttons;
        background-color: $even-color;
        color: whitesmoke; //text color
      }

      &-uneven{
        @extend .point-buttons;
        background-color: $uneven-color;
        color: $even-color; //text color
      }
    }
  }

}

.utility-buttons-area{
  @extend .space-between;

  .utility-button {
    width: 18%;
    height: 14vh;
    background-color: $uneven-color;
    color: $even-color;

    &-round{
      border-radius: 50%;
      width: 14vh;
      font-weight: bold;

      &-bulls{
        @extend .utility-button-round;
        background-color: $triple-color;
      }

      &-bullseye{
        @extend .utility-button-round;
        background-color: $double-color;
      }
    }
  }
}

.player-card{
  width: 26%;
  height: calc(100% - 40px);
  margin: 20px;
}

.double-color{
  background-color: $double-color;

  &:focus{
    outline: none;
  }

  &-activated{
    @extend .double-color;
    box-shadow: 0 0 0 0.4rem rgba($double-color,.5);
  }
}

.triple-color{
  background-color: $triple-color;

  &:focus{
    outline: none;
  }

  &-activated{
    @extend .triple-color;
    box-shadow: 0 0 0 0.4rem rgba($triple-color,.5);
  }
}

@media only screen and (max-width: 1300px) {
  .calculator-input{
    margin: 20px 0;
    padding: 10px 0;
  }
}
