<div class="spread">
  <div class="modal" *ngIf="!gameReady">
    <div class="modal-content">
      <div class="modal-header">
        <span>Please initialize the game</span>
      </div>

      <div class="modal-body">
        <div class="modal-body-content">
          <label>
            Name player 1:
            <input [(ngModel)]="players[0].name" placeholder="Name"/>
          </label>
        </div>

        <div class="modal-body-content">
          <label>
            Name player 2:
            <input [(ngModel)]="players[1].name" placeholder="Name"/>
          </label>
        </div>

        <div class="modal-body-content">
          <label for="totalPoints">
            Total points:
            <select [(ngModel)]="totalPoints" name="totalPoints" id="totalPoints">
              <option value=301>301</option>
              <option value=501 selected>501</option>
              <option value=701>701</option>
            </select>
          </label>

        </div>
      </div>

      <div class="modal-footer">
        <button (click)="initGame()">Save</button>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="bigNotificationVisible">
    <div class="big-notification">
      {{bigNotificationText}}
    </div>
  </div>

  <app-game-analytics *ngIf="showAnalytics" [players]="players" (resetGame)="resetGameData()"></app-game-analytics>

  <div class="player-card">
    <app-player [player]="players[0]"></app-player>
  </div>

  <div class="calculator-input">
    <div class="calculator-input-header">
      <span class="turn-identifier">{{currentPlayer.name}}'s turn</span>
    </div>

    <div class="calculator-input-content">
      <div class="multiplier-buttons-area">
        <button class="multiplier-button" [ngClass]="multiplier === throwMultipliers.DOUBLE ? 'double-color-activated' : 'double-color'" (click)="multiplierClicked(throwMultipliers.DOUBLE)">Double</button>
        <button class="multiplier-button"  [ngClass]="multiplier === throwMultipliers.TRIPLE ? 'triple-color-activated' : 'triple-color'" (click)="multiplierClicked(throwMultipliers.TRIPLE)">Triple</button>
      </div>

      <ul>
        <li *ngFor="let numArr of board" class="point-buttons-area" >
          <button *ngFor="let nr of numArr" [ngClass]="nr % 2 == 0 ? 'point-buttons-even' : 'point-buttons-uneven'" (click)="addShot(nr)" >{{nr}}</button>
        </li>
      </ul>

      <div class="utility-buttons-area">
        <button class="utility-button" (click)="addShot(0)">No score</button>
        <button class="utility-button-round-bulls" (click)="addShot(25)">25</button>
        <button class="utility-button-round-bullseye" (click)="addShot(50)">50</button>
        <button class="utility-button" (click)="undoShot()">Undo</button>
      </div>
    </div>

  </div>

  <div class="player-card">
    <app-player [player]="players[1]"></app-player>
  </div>
</div>
