<div>
  <div class="modal">
    <div class="modal-content-analytics">
      <div class="modal-header">
        <span>Game analytics</span>
      </div>

      <div class="display-flex">
        <div class="player-analytics">
          <h5>{{players[0].name}}</h5>
          <p>Average turn: {{player1.averageTurnScore}}</p>
          <p>Average throw: {{player1.averageThrowScore}}</p>

          <div class="shot-history">
            <p>Shot history: </p>
            <ul class="shot-history-list">
              <li *ngFor="let turn of players[0].turns; index as i">
                <span>{{i+1}}: </span>
                <span>
            <strong>{{turn.totalScore}}</strong>
            (
            <span *ngFor="let dartThrow of turn.throws; last as isLast">
              {{dartThrow.scoreText}} <span *ngIf="!isLast"> - </span>
            </span>
            )
          </span>
              </li>
            </ul>
          </div>
          <div class="shot-history">
            <p>Thrown scores: </p>
            <ul class="shot-history-list">
              <li *ngFor="let item of player1.thrownScoreAmount | keyvalue">
                <span>{{item.key}}: {{item.value}}x</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="player-analytics">
          <h5>{{players[1].name}}</h5>
          <p>Average turn: {{player2.averageTurnScore}}</p>
          <p>Average throw: {{player2.averageThrowScore}}</p>

          <div class="shot-history">
            <p>Shot history: </p>
            <ul class="shot-history-list">
              <li *ngFor="let turn of players[1].turns; index as i">
                <span>{{i+1}}: </span>
                <span>
            <strong>{{turn.totalScore}}</strong>
            (
            <span *ngFor="let dartThrow of turn.throws; last as isLast">
              {{dartThrow.scoreText}} <span *ngIf="!isLast"> - </span>
            </span>
            )
          </span>
              </li>
            </ul>
          </div>
          <div class="shot-history">
            <p>Thrown scores: </p>
            <ul class="shot-history-list">
              <li *ngFor="let item of player2.thrownScoreAmount | keyvalue">
                <span>{{item.key}}: {{item.value}}x</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button (click)="closeAnalytics()">Start new game</button>
      </div>
    </div>
  </div>
</div>
