/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: #E5E5E8;
$double-color: #E3292E;
$triple-color: #309F6A;
$even-color: #000000;
$uneven-color: #F9DFBC;

html{
  font-family: 'Roboto', sans-serif;
}

button{
  border: none;
  border-radius: 5px;

  background-color: #CFD8DC;

  margin: 5px;
  font-size: 20px;
}

//button:focus{
//  outline: none;
//}

ul{
  list-style-type: none;
  padding-inline-start: 0;
}

input, select{
  margin: 5px;
}

body{
  margin: 0;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.modal{
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.big-notification{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  font-size: 15vw;
  text-align: center;

  color: whitesmoke;
}

.modal-content {
  background-color: whitesmoke;
  width: 30%; /* Could be more or less, depending on screen size */
  min-height: 250px;

  border-radius: 10px;
  overflow:hidden;

  &-analytics{
    @extend .modal-content;
    height: auto;
    width: auto;
  }
}

.modal-header{
  background-color: #737375;
  color: whitesmoke;
  padding: 20px 5px 15px 20px;

  font-size: 24px;
}

.modal-body{

  padding: 25px 15px 15px 15px;
  font-size: 18px;

  input, select{
    border-radius: 3px;
    border: none;
    background-color: darken(whitesmoke, 10%);
    height: 30px;
    min-width: 100px;
  }

  &-content{
    padding:  5px 0 5px 0;
  }
}

.modal-footer{
  padding: 15px 15px 15px 30px;

  button{
    height: auto;
    width: auto;
    padding: 8px;

    background-color: #737375;
    color: whitesmoke;
  }
}

.dot{
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;

  margin: 5px;
}
